html, body {
  height: 100%;
}

.big-text {
  font-size: 1.5em;
}

.bigger-text {
  font-size: 2.0em;
}

.ice {
  background: linear-gradient(180deg, #e6fffa ,#b3c6ff);
}

.lemon {
  background: linear-gradient(180deg, #fff6ff ,#cc99ff);
}
