{% extends "base.html" %}
{% load static %}

  {% block content %}
  <div class="h-100 d-inline-block container-fluid lemon">
    <div class="h-25 d-inline-block container-fluid"></div>
    <div class="h-50 d-inline-block container-fluid text-center big-text">
      <p>Pogoda R - aplikacja podająca aktualne i historyczne warunki pogodowe w wybranych miastach w Polsce.</p>
      <p>Dane podane są w podziale na poszczególne województwa i miasta.</p>
      <p>Aplikacja dostarcza informacji nt. temperatury, ciśnienia, wilgotności w danym mieście.</p>
      <p>Prognoza pogody na najbliższe 10 lat podawana jest wyłącznie użytkownikom zarejestrowanym.</p>
    </div>
    <div class="h-25 d-inline-block container-fluid text-center">
      <p><em>Made <mark>without</mark> stress</em></p>
    </div>
  </div>
  {% endblock content %}
